<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body class="m">
    
    <div class="container-fluid main_cont">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left1">
 <div class="one1">
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--sQ7Uw8o1--/c_imagga_scale,f_auto,fl_progressive,h_1080,q_auto,w_1080/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg" alt="Talha" class="img-fluid" title="Talha creation">

 </div>
     
        <div class="temp">
          <h1>{{errorMsg}}</h1>
        <a href="/"><button>Go Back</button></a>
        </div>


       
        
        
    
    
   

    </div>
                </div>
                </div>
                </div>              
   <script>
   let v=  document.querySelector('.main_cont');
   v.classList.add('main');
</script>  
        

</div>
                     
    
    
        
    

    
</body>
</html>