<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
  {{>navbar1}}
    <!-- main content -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row max1">
                 
                 <!-- img fluid is used for responsiveness -->
<div class="right">
    <div class="col-md-6 col-12 main_header_right_about">
        <h3>
            <img src="https://cliply.co/wp-content/uploads/2019/06/391906110_WAVING_HAND_400px.gif" alt="" class="best">Hy I'm
        </h3>
        <h1>Md Talha</h1>
        <h5>Full Stack Web Developer</h5>
        <p>
            Hello friends, currently i am a student,percsuing btech in ECE branch in MNNIT Allahabad.i want to become a full stack web developer,currently i work on these.<br>To check my linkedin Profile Click on "Check Now".
        </p>
        
    
</div>
   

</div>
        </div>
    </div>
        </div>
    </div>
   <!-- footer section -->
  {{>footer}}






   
</body>
</html>