 <footer class="footer">
    <div>Created with love by Talha</div>
   
    </div>
    <div class="social">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-linkedin"></i></a>
</div>
  
  
      

   </footer>