  <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto"> 
                <!-- container-fluid means it takes whole width of container and if we want to use col-md-10 etc then we must follow the given structure , inside container row, inside row bootstrap grid system,
                each row have maximum 12 column after breaking rows,col-12: This class may indicate that the div should take up all 12 columns ,col-md-10: This class may indicate that the div should take up 10 columns on medium-sized screens. In Bootstrap, the grid system is divided into 12 columns by default.
                    mx-auto: This class is often used to horizontally center the element within its parent container. It sets the margin-left and margin-right properties to "auto."
                    So, the overall meaning is that this div element is structured to take up 10 columns on medium screens, 12 columns on small screens, and be horizontally centered within its parent container.  -->
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">Talha Weather</a>
                    <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/weather">Weather</a>
                          </li>
                          <li class="nav-item active">
                            <a class="nav-link" href="/about">About us</a>
                          </li>
                          </ul>
                        
                          
                     
                    </div>
                  </nav>
            </div>
        </div>
    </div>